/* css variables */
:root {
   --primary-color: #ff5400;
   --secondary-color: #f3f3f3;
   --text-secondary: #5a5a5d;
   --bg-gradient-start: #131318;
   --bg-gradient-end: #13131800;
}

/* shared styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input,
select {
   font-family: "Mulish", sans-serif;
   font-size: 14px;
}

h1,
h2,
h3 {
   font-size: 1.25rem;
}

button,
input,
select {
   border: 0;
   outline: none;
   height: 3.25rem;
   border-radius: 0.5rem;
}

input,
select {
   padding-left: 1rem;
   padding-right: 1rem;
   width: 100%;
}

img {
   width: 100%;
}

ul {
   margin-left: 1rem;
}

li.nav-item {
   list-style: none;
}

a {
   text-decoration: none;
   color: black;
}

p {
   line-height: 1.8;
}

input::placeholder,
select::placeholder {
   color: #898989;
}

.container {
   padding-right: 1.25rem;
   padding-left: 1.25rem;
}

main.container {
   display: grid;
   row-gap: 1.5rem;
}

.btn {
   padding-left: 2rem;
   padding-right: 2rem;
   color: white;
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 0.5rem;
}

.section-intro {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

/* component styles */
.header {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.header > .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left {
   display: flex;
   align-items: center;
   gap: 0.75rem;
}

.menu-icon {
   display: block;
}

.nav-container {
   display: none;
}

.icon {
   width: 1.5rem;
   height: 1.5rem;
}

.card-icon {
   width: 3rem;
   height: 3rem;
}

.icon,
.card-icon,
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* banner section*/
.banner-section {
   background-image: linear-gradient(to bottom, #131318, #13131800),
      url("images/herobg1.png");
   display: grid;
   justify-items: center;
   align-content: center;
   row-gap: 3rem;
   padding: 2rem 1rem 3rem;
}

.banner-section > .text-group {
   display: grid;
   row-gap: 0.75rem;
}

.banner-form-container {
   padding: 1rem;
   border-radius: 0.5rem;
   background-color: rgba(255, 255, 255, 0.4);
   width: 100%;
   max-width: 50rem;
}

.banner-form {
   display: grid;
   gap: 1rem;
}

/* popular-tour section */
.popular-tour {
   display: grid;
   column-gap: 3.25rem;
   row-gap: 1.5rem;
}

.popular-tour > .left-side > p {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.popular-tour > .left-side > ul {
   display: grid;
   line-height: 1.8;
   row-gap: 0.75rem;
   margin-bottom: 1.5rem;
}

.popular-tour > .image {
   min-height: 21.75rem;
   width: 100%;
}

/* destination section */
.destination-option {
   display: grid;
   gap: 1rem;
   grid-auto-rows: 11rem;
}

.destination {
   font-size: 1.25rem;
   width: 100%;
}

.maldives {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/maldives.png");
}

.indonasia {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/indonesia.png");
}

.srilanka {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/srilanka.png");
}

.north-america {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/north-america.png");
}

.kashmir {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/kashmir.png");
}

.bangladesh {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/bangladesh.png");
}

.bandarban {
   background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%),
      url("images/bandarban.png");
}

/* why-us section */
.advantages,
.advantages > .group {
   display: grid;
   gap: 1rem;
   justify-items: center;
}

.advantages .card {
   padding: 2rem;
   max-width: 36rem;
}

.advantages .card > .card-title {
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.advantages > .group > .card-1 {
   background-color: #fffbf7;
   border: 1px solid #feedd9;
}

.advantages > .group > .card-2 {
   background-color: #f4fdff;
   border: 1px solid #cbf4fd;
}

.advantages > .card-3 {
   background-color: #fef6f6;
   border: 1px solid #fad2d2;
}

/* newsletter section */
.newsletter-section {
   display: grid;
   column-gap: 1.5rem;
   row-gap: 1rem;
   align-content: start;
}

.newsletter-form {
   padding: 1.5rem;
   border-radius: 1rem;
   border: 1px solid var(--primary-color);
}

.newsletter-section p {
   margin-top: 0.5rem;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid #d3d3d3;
}

.newsletter-form > input {
   background-color: #f3f3f3;
}

.newsletter-form > .btn {
   font-size: 1.25rem;
}

.newsletter-form > .btn,
.newsletter-form > input {
   margin-top: 1rem;
   border: 0;
   outline: none;
   padding-left: 1rem;
   padding-right: 1rem;
   width: 100%;
}

.newsletter-image {
   min-height: 18.75rem;
   border-radius: 1rem;
   background-image: url("images/hill.png");
   position: relative;
}

.newsletter-image > .save {
   align-items: center;
   padding: 1.5rem 2.5rem;
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   background-color: var(--primary-color);
   position: absolute;
   bottom: 0;
   right: -1rem;
   transform: rotate(-19.63deg);
   transform-origin: left bottom;
}

/* Responsive Styles */
@media (min-width: 1200px) {
   body,
   button,
   input,
   select {
      font-size: 16px;
   }

   h1,
   h2,
   h3 {
      font-weight: 800;
   }

   h1 {
      font-size: 2.5rem;
   }

   h2 {
      font-size: 2rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   .container {
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0;
   }

   main.container {
      row-gap: 6.25rem;
   }

   .section-intro {
      margin: 1.5rem auto 3rem;
      max-width: 40rem;
   }

   /* Header section */
   .header {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   .nav-container {
      display: block;
   }

   .nav-container > .nav-menu {
      display: flex;
      column-gap: 44px;
   }

   .nav-item:hover > a {
      color: var(--primary-color);
   }

   .menu-icon {
      display: none;
   }

   /* banner section */
   .banner-section {
      height: 31.25rem;
   }

   .banner-section > .text-group > p {
      max-width: 42.25rem;
   }

   .banner-form {
      width: 100%;
      max-width: 48rem;
      grid-template-columns: repeat(4, 1fr);
   }

   /* popular-tour section */
   .popular-tour {
      grid-template-columns: repeat(2, 1fr);
   }

   /* destination section */
   .destination-option {
      gap: 1.5rem;
      grid-auto-rows: 18.75rem;
   }

   .destination {
      font-size: 1.75rem;
      font-weight: 800;
   }

   .maldives {
      grid-area: 1 / 1 / 2 / 6;
   }

   .indonasia {
      grid-area: 1 / 6 / 2 / 12;
   }

   .srilanka {
      grid-area: 2 / 1 / 3 / 5;
   }

   .north-america {
      grid-area: 2 / 5 / 3 / 10;
   }

   .kashmir {
      grid-area: 2 / 10 / 3 / 12;
   }

   .bangladesh {
      grid-area: 3 / 1 / 4 / 6;
   }

   .bandarban {
      grid-area: 3 / 6 / 4 / 12;
   }

   /* why-us section */
   .advantages,
   .advantages > .group {
      gap: 1.5rem;
   }

   .advantages > .group {
      grid-template-columns: repeat(2, 1fr);
   }

   .advantages .card > .card-title {
      margin-top: 2rem;
   }

   /* newsletter section */
   .newsletter-section {
      grid-template-columns: 5fr 7fr;
   }

   .newsletter-section p {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
   }

   .newsletter-form > .btn {
      margin-top: 1.5rem;
   }
}

/* atomic css */
.text-white {
   color: white;
}

.text-primary {
   color: var(--primary-color);
}

.text-center {
   text-align: center;
}

.rounded {
   border-radius: 1rem;
}

.bg-image {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
