/* css variables */

/* shared styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input {
   font-family: "Mulish", sans-serif;
   font-size: 14px;
}

/* component styles */

/* Responsive Styles */
@media (min-width: 768px) {
   body,
   button,
   input {
      font-size: 16px;
   }
}

@media (min-width: 1200px) {
   body,
   button,
   input {
      font-size: 16px;
   }
}

/* atomic css */
