/* css variables */
:root {
   --primary-color: #ff5400;
}

/* shared styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input,
select {
   font-family: "Mulish", sans-serif;
   font-size: 14px;
}

button,
input,
select {
   border: 0;
   outline: none;
}

input::placeholder,
select::placeholder {
   color: #898989;
}

h4 {
   font-size: 1.25rem;
   font-weight: 800;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: black;
}

p {
   line-height: 1.8;
}

.container {
   margin-left: 1.25rem;
   margin-right: 1.25rem;
   border-radius: 1rem;
}

/* component styles */
.header {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.header > .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left {
   display: flex;
   align-items: center;
   gap: 0.75rem;
}

.nav-container {
   display: none;
}

.nav-item:hover > a {
   color: var(--primary-color);
}

/* banner  section*/
.banner {
   background-image: linear-gradient(to bottom, #131318, #13131800),
      url("images/herobg1.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding: 2rem 1rem 3rem;
   display: grid;
   row-gap: 3rem;
}

.banner > .text-group {
   display: grid;
   row-gap: 0.75rem;
}

.banner-form {
   display: grid;
   row-gap: 1rem;
   padding-left: calc(2.5rem - 1rem);
   padding-right: calc(2.5rem - 1rem);
}

.banner-form > input,
.banner-form > select,
.banner-form > .find-btn {
   height: 3.25rem;
   padding: 1rem;
   border: 0;
   border-radius: 8px;
}

.find-btn {
   /* color: white; */
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   column-gap: 0.5rem;
   align-items: center;
}

/* Responsive Styles */
@media (min-width: 1200px) {
   body,
   button,
   input {
      font-size: 16px;
   }

   .container {
      max-width: 1280px;
      margin: 0 auto;
   }

   .nav-container {
      display: block;
   }

   .nav-container > .nav-menu {
      display: flex;
      column-gap: 44px;
   }

   .menu-icon {
      display: none;
   }
}

/* atomic css */
.text-white {
   color: white;
}

.text-primary {
   color: var(--primary-color);
}

.text-center {
   text-align: center;
}
